* {
    user-select: none;
}

.clickable {
    box-shadow: -0.5em -0.5em 1em 0px rgba(173, 216, 230, 0.5) inset;
}

#betaWarning {
    font: 1em sans-serif;
    color: red;
    margin: 0;
}

body {
    background-color: white;
    margin: 0;
}

#gameView {
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    overflow: auto;
    height: calc(100vh - 5em);
}

#footer {
    padding: 0.5em 0.5em 0.5em 0.5em;
    height: 5em;
    box-sizing: border-box;
}

.pageSelect {
    text-align: center;
    float: left;
    width: calc(33.3333% - 1em);
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid gray;
    border-radius: 999px;
    margin: 0 0.5em 0 0.5em;
}

.pageSelected {
    box-shadow: 0 0 10px 5px lightblue;
}

.pageImg {
    height: 100%;
}

.messageBox {
    background-color: white;
    border: 1px solid gray;
    border-radius: 999px;
    position: fixed;
    bottom: -4em;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 5px lightblue;
    margin: auto;
    width: fit-content;
    padding: 0.5em;
    font: 1.5em sans-serif;
    transition: bottom 0.25s ease-in;
    text-align: center;
}

.messageBoxActive {
    bottom: 4em;
    animation: 0.5s ease-in 3s hideMessageBox forwards;
}

@keyframes hideMessageBox {
    from {
        bottom: 4em;
    }
    to {
        bottom: -4em;
    }
}