.jobName{
    font: 1em sans-serif;
    margin: 0;
    float: left;
}
.jobCost{
    font: 1em sans-serif;
    margin: 0;
    text-align: right;
}
.jobReward{
    font: 1em sans-serif;
    color: gray;
    margin: 0;
    text-align: right;
}

.jobAnimating{
    animation-duration: 1s;
    animation-name: doJob;
    background: linear-gradient(90deg, lime 0%, transparent 5%);
}

@keyframes doJob {
    from {
        background-position: 0% 50%;
        box-shadow: 0 0 10px 5px lightblue;
    }
  
    to {
        background-position: 100% 50%;
        box-shadow: none;
    }
}