.jobBox {
    text-align: left;
    border: 1px solid gray;
    border-radius: 2em;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0 0.5em 0;
}

.jobName {
    font: 1em sans-serif;
    margin: 0;
    float: left;
}

.jobCost {
    font: 1em sans-serif;
    margin: 0;
    text-align: right;
}

.jobReward {
    font: 1em sans-serif;
    color: gray;
    margin: 0;
    text-align: right;
}

.jobClicked {
    transition: all 0s linear;
    background: linear-gradient(90deg, #00df00 50%, transparent 5%);
    background-size: 200% 200%;
    background-position: 100% 50%;
    box-shadow: 0 0 10px 5px lightblue;
}

.jobActive {
    transition: all 2s cubic-bezier(0.9, 0.00, 0, 1);
    background: linear-gradient(90deg, #00df00 50%, transparent 5%);
    background-size: 200% 200%;
    background-position: 0% 50%;
    box-shadow: none;
}

.jobNoMoney {
    animation: doJobNoMoney 0.3s linear;
}

.jobCancel {
    animation: doJobCancel 0.3s linear;
}

@keyframes doJobCancel {
    from {
        background-color: transparent;
    }
    50% {
        background-color: #00df00;
    }
    to {
        background-color: transparent;
    }
}

@keyframes doJobNoMoney {
    from {
        background-color: transparent;
    }
    50% {
        background-color: red;
    }
    to {
        background-color: transparent;
    }
}

@keyframes doJob {
    from {
        background-position: 100% 50%;
        box-shadow: 0 0 10px 5px lightblue;
    }
    to {
        background-position: 0% 50%;
        box-shadow: none;
    }
}

table {
    width: 100%;
}

td {
    width: 50%;
}